<div id="icons"> 
    <!-- twitter foloow @JMartelleur --> 
    <a data-show-screen-name="true" href="https://twitter.com/JMartelleur?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @JMartelleur</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- github foloow @Martelleur -->
    <a class="github-button" href="https://github.com/Martelleur" data-color-scheme="no-preference: dark; light: dark; dark: dark;" aria-label="Follow @Martelleur on GitHub">Follow @Martelleur</a>
</div>