<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- The Open Graph Protocol-->
    <meta property="og:title" content="Base1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://martelleur.github.io/">
    <meta property="og:description" content="blog"/>
    <meta property="og:image" content="https://martelleur.github.io/assets/pics/matrix1.jpg">
    <!-- github logo and follow @Martelleur-->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link type="text/plain" rel="author" href="http://domain/humans.txt"/>
    <title>{{ page.title }} | {{ site.title }}</title>
    {% if page.layout ==  "home" %}
      <link rel = "icon" href = "../assets/pics/matrix2-Copy.ico" type = "image/x-icon">
    {% else if page.layout == "post" %}
      <link rel = "icon" href = "../../assets/pics/matrix2-Copy.ico" type = "image/x-icon">
    {% else %}
      <link rel = "icon" href = "../../assets/pics/matrix2-Copy.ico" type = "image/x-icon">
    {% endif %}
    <!--<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">-->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>