

{% if page.innerpage == "true" %}
<ul>
    <li>
        <a href="../about_me.md">about_me</a>
    </li>
    <li>
        <a href="../programing&stuff.md">programing&amp;stuff</a>
    </li>
    <li>
        <a href="../computers&stuff.md">computers&amp;stuff</a>
    </li>
</ul>
{% else %}
<ul>
    <li>
        <a href="../pages/about_me.md">about_me</a>
    </li>
    <li>
        <a href="../pages/programing&stuff.md">programing&amp;stuff</a>
    </li>
    <li>
        <a href="../pages/computers&stuff.md">computers&amp;stuff</a>
    </li>
</ul>
{% endif %}

<br>
<hr>
<br>
