@import "color";

main {
  background: $backgroundColor;
  color: $bodyColor3;
  a {
    text-decoration:none;
    color: $bodyColor;
  }
  a:link, a:visited {
    background-color: $backgroundColor; 
    color:$bodyColor;
  }
  a:hover, a:active {
    background-color: $backgroundColor2; 
    color:$bodyColor;
  }
}