@import "color";

main {
  background: $backgroundColor;
  color: $bodyColor3;
  border: 3px solid $bodyColor3;
  #main_wrapper {
    padding:10px;
  } 
  #main_wrapper2 {
    padding:10px;
    list-style: none;
  }
  a {
    text-decoration:none;
    color: $bodyColor;
  }
  a:link, a:visited {
    background-color: $backgroundColor; 
    color:$bodyColor;
  }
  a:hover, a:active {
    background-color: $backgroundColor2; 
    color:$bodyColor2;
  }
}