$backgroundColor: #000000; 
$backgroundColor2: #3e3973;
$bodyColor: #ff0800;
$bodyColor2: #15ff00;
$bodyColor3: #00bbff;
$bodyColor4: #3e3973; 
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
