<!DOCTYPE html>
<html lang="{{ site.lang | default: en-US}}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <!--Facbookstuff-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v5.0"></script>
    <header>
      {% include header.html %}
    </header>
    <nav>
      {% include searchbox.html %} 

      {% include nav.html %}
    </nav>
    <main>
      {% include main.html %}
      
      {% include post_pages.html %}

      {% include follow.html %}

    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>