<!DOCTYPE html>
<html lang="{{ site.lang | default: en-US}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- The Open Graph Protocol-->
    <meta property="og:title" content="Base1">
    <meta property="og:type" content="blog.programing">
    <meta property="og:url" content="https://martelleur.github.io/">
    <meta property="og:image" content="https://martelleur.github.io/assets/pics/matrix1.jpg">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- github logo and follow @Martelleur-->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!--<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">-->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>
    <nav>   
    </nav>
    <main>
      {% include main.html %}
      
      {% include post_pages.html %}
      
      {% include follow.html %}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>A
</html>
